Node-RED/n4a01-Out2.json
[
    {
        "id": "ab196a41.016288",
        "type": "tab",
        "label": "n4a01-Out1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "69ebfa8b.166474",
        "type": "ibmiot in",
        "z": "ab196a41.016288",
        "authentication": "boundService",
        "apiKey": "",
        "inputType": "evt",
        "logicalInterface": "",
        "ruleId": "",
        "deviceId": "01",
        "applicationId": "",
        "deviceType": "netio4all",
        "eventType": "out1current",
        "commandType": "",
        "format": "format_string",
        "name": "IBM IoT",
        "service": "registered",
        "allDevices": "",
        "allApplications": "",
        "allDeviceTypes": "",
        "allLogicalInterfaces": "",
        "allEvents": "",
        "allCommands": "",
        "allFormats": "",
        "qos": 0,
        "x": 109,
        "y": 121,
        "wires": [
            [
                "7a44b171.f23d",
                "386432ef.c7c41e"
            ]
        ],
        "l": false
    },
    {
        "id": "7a44b171.f23d",
        "type": "debug",
        "z": "ab196a41.016288",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 229,
        "y": 81,
        "wires": [],
        "l": false
    },
    {
        "id": "35a0b04c.ea444",
        "type": "ui_gauge",
        "z": "ab196a41.016288",
        "name": "",
        "group": "505f7917.87af48",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Current",
        "label": "A",
        "format": "{{value | number:2}}",
        "min": "0",
        "max": "15",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 409,
        "y": 141,
        "wires": [],
        "l": false
    },
    {
        "id": "386432ef.c7c41e",
        "type": "function",
        "z": "ab196a41.016288",
        "name": "",
        "func": "msg.payload=msg.payload/1000;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 229,
        "y": 141,
        "wires": [
            [
                "35a0b04c.ea444",
                "c5efb790.9077f8"
            ]
        ],
        "l": false
    },
    {
        "id": "c5efb790.9077f8",
        "type": "ui_chart",
        "z": "ab196a41.016288",
        "name": "",
        "group": "505f7917.87af48",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "Graph Current",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "15",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 409,
        "y": 181,
        "wires": [
            []
        ],
        "l": false
    },
    {
        "id": "c2670880.1780d8",
        "type": "ibmiot in",
        "z": "ab196a41.016288",
        "authentication": "boundService",
        "apiKey": "",
        "inputType": "evt",
        "logicalInterface": "",
        "ruleId": "",
        "deviceId": "01",
        "applicationId": "",
        "deviceType": "netio4all",
        "eventType": "out1powerFactor",
        "commandType": "",
        "format": "format_string",
        "name": "IBM IoT",
        "service": "registered",
        "allDevices": "",
        "allApplications": "",
        "allDeviceTypes": "",
        "allLogicalInterfaces": "",
        "allEvents": "",
        "allCommands": "",
        "allFormats": "",
        "qos": 0,
        "x": 109,
        "y": 241,
        "wires": [
            [
                "f1555bed.ca7a88",
                "d67e04a5.1e4da8"
            ]
        ],
        "l": false
    },
    {
        "id": "f1555bed.ca7a88",
        "type": "debug",
        "z": "ab196a41.016288",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 229,
        "y": 201,
        "wires": [],
        "l": false
    },
    {
        "id": "7551788d.5113f8",
        "type": "ui_gauge",
        "z": "ab196a41.016288",
        "name": "",
        "group": "505f7917.87af48",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "powerFactor",
        "label": "cos φ",
        "format": "{{value | number:2}}",
        "min": "0.5",
        "max": "1.5",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 409,
        "y": 261,
        "wires": [],
        "l": false
    },
    {
        "id": "d67e04a5.1e4da8",
        "type": "function",
        "z": "ab196a41.016288",
        "name": "",
        "func": "msg.payload=msg.payload/1000;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 229,
        "y": 261,
        "wires": [
            [
                "7551788d.5113f8",
                "db9c18f1.8aced8"
            ]
        ],
        "l": false
    },
    {
        "id": "db9c18f1.8aced8",
        "type": "ui_chart",
        "z": "ab196a41.016288",
        "name": "",
        "group": "505f7917.87af48",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "Graph powerFactor",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0.5",
        "ymax": "1.5",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 409,
        "y": 301,
        "wires": [
            []
        ],
        "l": false
    },
    {
        "id": "d40dedb4.0be05",
        "type": "ibmiot out",
        "z": "ab196a41.016288",
        "authentication": "boundService",
        "apiKey": "",
        "outputType": "cmd",
        "deviceId": "01",
        "deviceType": "netio4all",
        "eventCommandType": "out1action",
        "format": "format_string",
        "data": "payload",
        "qos": 0,
        "name": "",
        "service": "registered",
        "x": 695.0000076293945,
        "y": 221.99999618530273,
        "wires": [],
        "l": false
    },
    {
        "id": "4e04a283.dc9bcc",
        "type": "ui_switch",
        "z": "ab196a41.016288",
        "name": "",
        "label": "ON/OFF",
        "tooltip": "",
        "group": "505f7917.87af48",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "iot-2/cmd/out1action/fmt/format_string",
        "style": "",
        "onvalue": "1",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "x": 624.0000247955322,
        "y": 222.00000190734863,
        "wires": [
            [
                "d40dedb4.0be05",
                "d188b897.31eca8"
            ]
        ],
        "l": false
    },
    {
        "id": "d188b897.31eca8",
        "type": "debug",
        "z": "ab196a41.016288",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 694.1000366210938,
        "y": 261,
        "wires": [],
        "l": false
    },
    {
        "id": "6fa251e0.ec65b",
        "type": "inject",
        "z": "ab196a41.016288",
        "name": "ON",
        "topic": "",
        "payload": "1",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 526.0000610351562,
        "y": 187,
        "wires": [
            [
                "4e04a283.dc9bcc"
            ]
        ]
    },
    {
        "id": "fa261c88.1f2fc",
        "type": "inject",
        "z": "ab196a41.016288",
        "name": "OFF",
        "topic": "",
        "payload": "0",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 525.0000305175781,
        "y": 227,
        "wires": [
            [
                "4e04a283.dc9bcc"
            ]
        ]
    },
    {
        "id": "75644fc2.4b2c5",
        "type": "ibmiot in",
        "z": "ab196a41.016288",
        "authentication": "boundService",
        "apiKey": "",
        "inputType": "evt",
        "logicalInterface": "",
        "ruleId": "",
        "deviceId": "01",
        "applicationId": "",
        "deviceType": "netio4all",
        "eventType": "out1state",
        "commandType": "",
        "format": "format_string",
        "name": "IBM IoT",
        "service": "registered",
        "allDevices": "",
        "allApplications": "",
        "allDeviceTypes": "",
        "allLogicalInterfaces": "",
        "allEvents": false,
        "allCommands": "",
        "allFormats": "",
        "qos": 0,
        "x": 115.00000333786011,
        "y": 377.0000190734863,
        "wires": [
            [
                "eab3c2cb.f8f8b",
                "86b9d233.5568"
            ]
        ],
        "l": false
    },
    {
        "id": "eab3c2cb.f8f8b",
        "type": "debug",
        "z": "ab196a41.016288",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 291.1000461578369,
        "y": 423.2000913619995,
        "wires": [],
        "l": false
    },
    {
        "id": "86b9d233.5568",
        "type": "ui_text",
        "z": "ab196a41.016288",
        "group": "505f7917.87af48",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "previous state",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 292.0000066757202,
        "y": 377.00002098083496,
        "wires": [],
        "l": false
    },
    {
        "id": "505f7917.87af48",
        "type": "ui_group",
        "z": "",
        "name": "Output 1",
        "tab": "d0272ed3.61a1b",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "d0272ed3.61a1b",
        "type": "ui_tab",
        "z": "",
        "name": "Netio4All01",
        "icon": "dashboard",
        "order": 4,
        "disabled": false,
        "hidden": false
    }
]