Node-RED/n4a01-Out3.json
[
    {
        "id": "6df6de9c.6a0ca",
        "type": "tab",
        "label": "n4a01-Out3",
        "disabled": false,
        "info": ""
    },
    {
        "id": "a6e3afe7.5cda7",
        "type": "ibmiot in",
        "z": "6df6de9c.6a0ca",
        "authentication": "boundService",
        "apiKey": "",
        "inputType": "evt",
        "logicalInterface": "",
        "ruleId": "",
        "deviceId": "01",
        "applicationId": "",
        "deviceType": "netio4all",
        "eventType": "out3current",
        "commandType": "",
        "format": "format_string",
        "name": "IBM IoT",
        "service": "registered",
        "allDevices": "",
        "allApplications": "",
        "allDeviceTypes": "",
        "allLogicalInterfaces": "",
        "allEvents": "",
        "allCommands": "",
        "allFormats": "",
        "qos": 0,
        "x": 74,
        "y": 83,
        "wires": [
            [
                "e6e3b4f1.42bde8",
                "3b6cacaf.4fe344"
            ]
        ],
        "l": false
    },
    {
        "id": "e6e3b4f1.42bde8",
        "type": "debug",
        "z": "6df6de9c.6a0ca",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 194,
        "y": 43,
        "wires": [],
        "l": false
    },
    {
        "id": "8aca8996.0a9ae8",
        "type": "ui_gauge",
        "z": "6df6de9c.6a0ca",
        "name": "",
        "group": "dc0aab0d.5d0f38",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Current",
        "label": "A",
        "format": "{{value | number:2}}",
        "min": "0",
        "max": "15",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 374,
        "y": 103,
        "wires": [],
        "l": false
    },
    {
        "id": "3b6cacaf.4fe344",
        "type": "function",
        "z": "6df6de9c.6a0ca",
        "name": "",
        "func": "msg.payload=msg.payload/1000;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 194,
        "y": 103,
        "wires": [
            [
                "8aca8996.0a9ae8",
                "f440048b.d8b2c8"
            ]
        ],
        "l": false
    },
    {
        "id": "f440048b.d8b2c8",
        "type": "ui_chart",
        "z": "6df6de9c.6a0ca",
        "name": "",
        "group": "dc0aab0d.5d0f38",
        "order": 4,
        "width": 0,
        "height": 0,
        "label": "Graph Current",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "15",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 374,
        "y": 143,
        "wires": [
            []
        ],
        "l": false
    },
    {
        "id": "ce1cb202.92de6",
        "type": "ibmiot in",
        "z": "6df6de9c.6a0ca",
        "authentication": "boundService",
        "apiKey": "",
        "inputType": "evt",
        "logicalInterface": "",
        "ruleId": "",
        "deviceId": "01",
        "applicationId": "",
        "deviceType": "netio4all",
        "eventType": "out3powerFactor",
        "commandType": "",
        "format": "format_string",
        "name": "IBM IoT",
        "service": "registered",
        "allDevices": "",
        "allApplications": "",
        "allDeviceTypes": "",
        "allLogicalInterfaces": "",
        "allEvents": "",
        "allCommands": "",
        "allFormats": "",
        "qos": 0,
        "x": 74,
        "y": 203,
        "wires": [
            [
                "2f2bdc2b.bfc394",
                "f851f751.2ab278"
            ]
        ],
        "l": false
    },
    {
        "id": "2f2bdc2b.bfc394",
        "type": "debug",
        "z": "6df6de9c.6a0ca",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 194,
        "y": 163,
        "wires": [],
        "l": false
    },
    {
        "id": "7feb813e.39538",
        "type": "ui_gauge",
        "z": "6df6de9c.6a0ca",
        "name": "",
        "group": "dc0aab0d.5d0f38",
        "order": 5,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "powerFactor",
        "label": "cos φ",
        "format": "{{value | number:2}}",
        "min": "0.5",
        "max": "1.5",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 374,
        "y": 223,
        "wires": [],
        "l": false
    },
    {
        "id": "f851f751.2ab278",
        "type": "function",
        "z": "6df6de9c.6a0ca",
        "name": "",
        "func": "msg.payload=msg.payload/1000;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 194,
        "y": 223,
        "wires": [
            [
                "7feb813e.39538",
                "a5774c88.4a29b"
            ]
        ],
        "l": false
    },
    {
        "id": "a5774c88.4a29b",
        "type": "ui_chart",
        "z": "6df6de9c.6a0ca",
        "name": "",
        "group": "dc0aab0d.5d0f38",
        "order": 6,
        "width": 0,
        "height": 0,
        "label": "Graph powerFactor",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0.5",
        "ymax": "1.5",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 374,
        "y": 263,
        "wires": [
            []
        ],
        "l": false
    },
    {
        "id": "7fd8c0d8.d6dd5",
        "type": "ibmiot out",
        "z": "6df6de9c.6a0ca",
        "authentication": "boundService",
        "apiKey": "",
        "outputType": "cmd",
        "deviceId": "01",
        "deviceType": "netio4all",
        "eventCommandType": "out3action",
        "format": "format_string",
        "data": "payload",
        "qos": 0,
        "name": "",
        "service": "registered",
        "x": 660.0000076293945,
        "y": 183.99999618530273,
        "wires": [],
        "l": false
    },
    {
        "id": "6defb76f.12bd38",
        "type": "ui_switch",
        "z": "6df6de9c.6a0ca",
        "name": "",
        "label": "ON/OFF",
        "tooltip": "",
        "group": "dc0aab0d.5d0f38",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "iot-2/cmd/out3action/fmt/format_string",
        "style": "",
        "onvalue": "1",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "x": 589.0000247955322,
        "y": 184.00000190734863,
        "wires": [
            [
                "7fd8c0d8.d6dd5",
                "44ca68ae.b561c8"
            ]
        ],
        "l": false
    },
    {
        "id": "44ca68ae.b561c8",
        "type": "debug",
        "z": "6df6de9c.6a0ca",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 659.1000366210938,
        "y": 223,
        "wires": [],
        "l": false
    },
    {
        "id": "2770161d.844a9a",
        "type": "inject",
        "z": "6df6de9c.6a0ca",
        "name": "ON",
        "topic": "",
        "payload": "1",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 491.00006103515625,
        "y": 149,
        "wires": [
            [
                "6defb76f.12bd38"
            ]
        ]
    },
    {
        "id": "a6169f8b.b38b3",
        "type": "inject",
        "z": "6df6de9c.6a0ca",
        "name": "OFF",
        "topic": "",
        "payload": "0",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 490.0000305175781,
        "y": 189,
        "wires": [
            [
                "6defb76f.12bd38"
            ]
        ]
    },
    {
        "id": "8447540a.bef2a8",
        "type": "ibmiot in",
        "z": "6df6de9c.6a0ca",
        "authentication": "boundService",
        "apiKey": "",
        "inputType": "evt",
        "logicalInterface": "",
        "ruleId": "",
        "deviceId": "01",
        "applicationId": "",
        "deviceType": "netio4all",
        "eventType": "out3state",
        "commandType": "",
        "format": "format_string",
        "name": "IBM IoT",
        "service": "registered",
        "allDevices": "",
        "allApplications": "",
        "allDeviceTypes": "",
        "allLogicalInterfaces": "",
        "allEvents": false,
        "allCommands": "",
        "allFormats": "",
        "qos": 0,
        "x": 80.00000333786011,
        "y": 339.0000190734863,
        "wires": [
            [
                "ce965fd9.c0744",
                "c7f65f1a.86ecc"
            ]
        ],
        "l": false
    },
    {
        "id": "ce965fd9.c0744",
        "type": "debug",
        "z": "6df6de9c.6a0ca",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 256.1000461578369,
        "y": 385.2000913619995,
        "wires": [],
        "l": false
    },
    {
        "id": "c7f65f1a.86ecc",
        "type": "ui_text",
        "z": "6df6de9c.6a0ca",
        "group": "dc0aab0d.5d0f38",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "previous state",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 257.0000066757202,
        "y": 339.00002098083496,
        "wires": [],
        "l": false
    },
    {
        "id": "dc0aab0d.5d0f38",
        "type": "ui_group",
        "z": "",
        "name": "Output 3",
        "tab": "d0272ed3.61a1b",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "d0272ed3.61a1b",
        "type": "ui_tab",
        "z": "",
        "name": "Netio4All01",
        "icon": "dashboard",
        "order": 4,
        "disabled": false,
        "hidden": false
    }
]