Node-RED/n4a01-Out4.json
[
    {
        "id": "8fad3f9b.c7ded",
        "type": "tab",
        "label": "n4a01-Out4",
        "disabled": false,
        "info": ""
    },
    {
        "id": "7634953b.a6bb2c",
        "type": "ibmiot in",
        "z": "8fad3f9b.c7ded",
        "authentication": "boundService",
        "apiKey": "",
        "inputType": "evt",
        "logicalInterface": "",
        "ruleId": "",
        "deviceId": "01",
        "applicationId": "",
        "deviceType": "netio4all",
        "eventType": "out4current",
        "commandType": "",
        "format": "format_string",
        "name": "IBM IoT",
        "service": "registered",
        "allDevices": "",
        "allApplications": "",
        "allDeviceTypes": "",
        "allLogicalInterfaces": "",
        "allEvents": "",
        "allCommands": "",
        "allFormats": "",
        "qos": 0,
        "x": 44,
        "y": 70,
        "wires": [
            [
                "4168e972.a11518",
                "ccaf386d.449738"
            ]
        ],
        "l": false
    },
    {
        "id": "4168e972.a11518",
        "type": "debug",
        "z": "8fad3f9b.c7ded",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 164,
        "y": 30,
        "wires": [],
        "l": false
    },
    {
        "id": "bb4f0f18.6b82c",
        "type": "ui_gauge",
        "z": "8fad3f9b.c7ded",
        "name": "",
        "group": "9a901aa5.984be8",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Current",
        "label": "A",
        "format": "{{value | number:2}}",
        "min": "0",
        "max": "15",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 344,
        "y": 90,
        "wires": [],
        "l": false
    },
    {
        "id": "ccaf386d.449738",
        "type": "function",
        "z": "8fad3f9b.c7ded",
        "name": "",
        "func": "msg.payload=msg.payload/1000;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 164,
        "y": 90,
        "wires": [
            [
                "bb4f0f18.6b82c",
                "83c14de8.bec16"
            ]
        ],
        "l": false
    },
    {
        "id": "83c14de8.bec16",
        "type": "ui_chart",
        "z": "8fad3f9b.c7ded",
        "name": "",
        "group": "9a901aa5.984be8",
        "order": 4,
        "width": 0,
        "height": 0,
        "label": "Graph Current",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "15",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 344,
        "y": 130,
        "wires": [
            []
        ],
        "l": false
    },
    {
        "id": "fa355d6a.bbe99",
        "type": "ibmiot in",
        "z": "8fad3f9b.c7ded",
        "authentication": "boundService",
        "apiKey": "",
        "inputType": "evt",
        "logicalInterface": "",
        "ruleId": "",
        "deviceId": "01",
        "applicationId": "",
        "deviceType": "netio4all",
        "eventType": "out4powerFactor",
        "commandType": "",
        "format": "format_string",
        "name": "IBM IoT",
        "service": "registered",
        "allDevices": "",
        "allApplications": "",
        "allDeviceTypes": "",
        "allLogicalInterfaces": "",
        "allEvents": "",
        "allCommands": "",
        "allFormats": "",
        "qos": 0,
        "x": 44,
        "y": 190,
        "wires": [
            [
                "52a79857.54c088",
                "b6e937e6.a9af08"
            ]
        ],
        "l": false
    },
    {
        "id": "52a79857.54c088",
        "type": "debug",
        "z": "8fad3f9b.c7ded",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 164,
        "y": 150,
        "wires": [],
        "l": false
    },
    {
        "id": "177ec180.c1216f",
        "type": "ui_gauge",
        "z": "8fad3f9b.c7ded",
        "name": "",
        "group": "9a901aa5.984be8",
        "order": 5,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "powerFactor",
        "label": "cos φ",
        "format": "{{value | number:2}}",
        "min": "0.5",
        "max": "1.5",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 344,
        "y": 210,
        "wires": [],
        "l": false
    },
    {
        "id": "b6e937e6.a9af08",
        "type": "function",
        "z": "8fad3f9b.c7ded",
        "name": "",
        "func": "msg.payload=msg.payload/1000;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 164,
        "y": 210,
        "wires": [
            [
                "177ec180.c1216f",
                "61a8350.142fdcc"
            ]
        ],
        "l": false
    },
    {
        "id": "61a8350.142fdcc",
        "type": "ui_chart",
        "z": "8fad3f9b.c7ded",
        "name": "",
        "group": "9a901aa5.984be8",
        "order": 6,
        "width": 0,
        "height": 0,
        "label": "Graph powerFactor",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0.5",
        "ymax": "1.5",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "useOldStyle": false,
        "outputs": 1,
        "x": 344,
        "y": 250,
        "wires": [
            []
        ],
        "l": false
    },
    {
        "id": "469f21ed.92fb5",
        "type": "ibmiot out",
        "z": "8fad3f9b.c7ded",
        "authentication": "boundService",
        "apiKey": "",
        "outputType": "cmd",
        "deviceId": "01",
        "deviceType": "netio4all",
        "eventCommandType": "out4action",
        "format": "format_string",
        "data": "payload",
        "qos": 0,
        "name": "",
        "service": "registered",
        "x": 630.0000076293945,
        "y": 170.99999618530273,
        "wires": [],
        "l": false
    },
    {
        "id": "343af2ea.4aa53e",
        "type": "ui_switch",
        "z": "8fad3f9b.c7ded",
        "name": "",
        "label": "ON/OFF",
        "tooltip": "",
        "group": "9a901aa5.984be8",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "iot-2/cmd/out4action/fmt/format_string",
        "style": "",
        "onvalue": "1",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "0",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "x": 559.0000247955322,
        "y": 171.00000190734863,
        "wires": [
            [
                "469f21ed.92fb5",
                "a8851fb4.9966b"
            ]
        ],
        "l": false
    },
    {
        "id": "a8851fb4.9966b",
        "type": "debug",
        "z": "8fad3f9b.c7ded",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 629.1000366210938,
        "y": 210,
        "wires": [],
        "l": false
    },
    {
        "id": "11840f1b.65d451",
        "type": "inject",
        "z": "8fad3f9b.c7ded",
        "name": "ON",
        "topic": "",
        "payload": "1",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 461.00006103515625,
        "y": 136,
        "wires": [
            [
                "343af2ea.4aa53e"
            ]
        ]
    },
    {
        "id": "edb89ea9.85ec6",
        "type": "inject",
        "z": "8fad3f9b.c7ded",
        "name": "OFF",
        "topic": "",
        "payload": "0",
        "payloadType": "str",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "x": 460.0000305175781,
        "y": 176,
        "wires": [
            [
                "343af2ea.4aa53e"
            ]
        ]
    },
    {
        "id": "469a2776.06f798",
        "type": "ibmiot in",
        "z": "8fad3f9b.c7ded",
        "authentication": "boundService",
        "apiKey": "",
        "inputType": "evt",
        "logicalInterface": "",
        "ruleId": "",
        "deviceId": "01",
        "applicationId": "",
        "deviceType": "netio4all",
        "eventType": "out4state",
        "commandType": "",
        "format": "format_string",
        "name": "IBM IoT",
        "service": "registered",
        "allDevices": "",
        "allApplications": "",
        "allDeviceTypes": "",
        "allLogicalInterfaces": "",
        "allEvents": false,
        "allCommands": "",
        "allFormats": "",
        "qos": 0,
        "x": 50.00000333786011,
        "y": 326.0000190734863,
        "wires": [
            [
                "5fba65e9.d158fc",
                "978c851d.c20978"
            ]
        ],
        "l": false
    },
    {
        "id": "5fba65e9.d158fc",
        "type": "debug",
        "z": "8fad3f9b.c7ded",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 226.1000461578369,
        "y": 372.2000913619995,
        "wires": [],
        "l": false
    },
    {
        "id": "978c851d.c20978",
        "type": "ui_text",
        "z": "8fad3f9b.c7ded",
        "group": "9a901aa5.984be8",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "previous state",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 227.00000667572021,
        "y": 326.00002098083496,
        "wires": [],
        "l": false
    },
    {
        "id": "9a901aa5.984be8",
        "type": "ui_group",
        "z": "",
        "name": "Output 4",
        "tab": "d0272ed3.61a1b",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "d0272ed3.61a1b",
        "type": "ui_tab",
        "z": "",
        "name": "Netio4All01",
        "icon": "dashboard",
        "order": 4,
        "disabled": false,
        "hidden": false
    }
]